.myTooltip  {
  width: 100px;
  height: 50px;
  background-color: #222;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
}

.male {
  background-color: blue;
  color: white;
}

.female {
  background-color: pink;
}


.myborder {
  border: 3px solid black;
}

